{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/library/">Books</a> |
      <a href="/library/authors">Authors</a> 
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>Django Lab</p>
    </footer>
  </body>
</html>
